#	
#	This file is part of rpi-timeset
#	
#	Copyright (c) 2017 Steve Crow
#	Licensed under the BSD 2-clause “Simplified” License
#	
#	For license information, see the LICENSE.md file or visit
#	http://github.com/scrow/rpi-timeset
#

.htaccess
.htpasswd
postrun.sh
